line-length = 120

[format]
docstring-code-format = true

[lint]
select = ["ALL"]
ignore = [
    "D1",     # undocumented
    "D203",   # one blank line before class
    "D213",   # multi-line summary second line
    "TD001",  # invalid todo tag
    "TD002",  # missing todo author
    "TD003",  # missing todo link
    "PD011",  # pandas use of dot values
    "COM812", # conflict with formatter
]
unfixable = [
    "F401",
    "F841",
]

[lint.pydocstyle]
convention = "google"

[lint.per-file-ignores]
"tests/**/*.py" = [
    "D",
    "S101",
    "N802",
    "ARG",
]

[lint.pylint]
max-args = 6

[lint.isort]
force-single-line = false
force-sort-within-sections = false
split-on-trailing-comma = true
lines-between-types = 1
